<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>6.8634</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>9.8272</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>21.2632</td>
    </tr>
  </tbody>
</table>