<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>17.9580</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>10.7974</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>8.7674</td>
    </tr>
    <tr>
      <td>tf10</td>
      <td>9.6868</td>
    </tr>
  </tbody>
</table>