<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>6.5535</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>9.5173</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>20.9533</td>
    </tr>
    <tr>
      <td>tf10</td>
      <td>16.8869</td>
    </tr>
    <tr>
      <td>tf11</td>
      <td>8.0381</td>
    </tr>
    <tr>
      <td>tf12</td>
      <td>20.4811</td>
    </tr>
  </tbody>
</table>