%h1 Blog
%h1 2016-10-12 Dan Bikle
%h2 bikle101@gmail.com

%p
  A good way to learn TensorFlow is to see some examples and then interact with the underlying code on your laptop.

%p This site, tf4.us, has examples for us.
