%h1 Compare
%h2 Comparison of:
%ul
  %li
    %h2 Long Only
  %li
    %h2 Linear Regression
  %li
    %h2 Logistic Regression
  %li
    %h2 scikit-learn 
  %li
    %h2 TensorFlow

%p Aggregated Effectiveness Report:
