%h1 tf4.us
%p This site, tf4.us, combines publicly available data with TensorFlow software to help you build machine learning applications.

%p You may find some interesting public data at this URL:
%p
  %a(href='http://ichart.finance.yahoo.com/table.csv?s=%5EGSPC' target='x')
    http://ichart.finance.yahoo.com/table.csv?s=%5EGSPC

%p I learned about TensorFlow at this URL:
%p
  %a(href='https://www.tensorflow.org' target='x')
    https://www.tensorflow.org
