%a(href='/')              www.tf4.us
%a(href='/pages/about')   About
%a(href='/pages/blog')    Blog
%a(href='/pages/contact') Contact
%a(href='/pages/compare') Compare
%a(href='/pages/whatif')  What If
%a(target='s' href='https://github.com/danbikle/tf4us') Software
%a(href='/csv/tf4.csv')    CSV
%a(href='/pages/backtests') Backtests
